

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  padding: 75px 20px 100px 20px;
}

h1 {
  color: #6C8AC0;
}

img {
  display: block;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: #6C8AC0;
  border-radius: 3px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 45px;
  padding-top: 0;
  width: 500px;
  box-sizing: border-box;
  max-width: 100%;
}

form input{
  display: block;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 10px;
  margin-top: 15px;
}
label {
  margin-top: 30px;
  display: block;
  font-size: 30px;

}

.details {
  text-align: center;
  font-size: 30px;
  margin-top: 70px;
}

.rsvp {
  display: flex!important;
  flex-direction: row;
  align-items: baseline;
}

.rsvp input {
  margin-right: 10px;
  margin-left: 10px;
}

.entry {
  margin-top: 20px;
}

.coming {
  text-align: center;
}


.food {
  font-weight: bold;
  font-size: 17px;
}

.submit {
  background-color: white;
  color: #6C8AC0;
  transition: all .2s ease-in;
}

.submit:hover {
  background-color: #6C8AC0;
  color: white;
}
